/** @format */

.arrows > button {
  display: flex;
  align-items: center;
  color: var(--labler-tight, #575757);
  font-family: var(--font-medium);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  gap: 8px;
  border: none;
}
.arrows {
  display: flex;
  justify-content: center;
}
.task_system {
  display: flex;
  border-right: 1px solid #282828;
  flex-direction: column;
  padding: 16px 24px;
  gap: 24px;
  background: #1a1a1a;
}
.task_title,
.extended_task {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
.design_links {
  display: flex;
  font-style: normal;
}

.log_link {
  display: flex;
  height: 48px;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--line, #1e1e1e);
}
.Raise_meeting,
.extend_request {
  display: inline-flex;
  padding: 24px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  background: #141414;
  left: 480px;
  top: 150px;
  z-index: 1;
}
.raisemeeting_header,
.extend_heading {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 167px;
}
.raisemeeting_header > h5,
.extend_heading > h5 {
  color: var(--canvas, #fff);
  font-family: Gilroy-bold;
  font-size: 19px;
  font-style: normal;
}
.meeting_emptyline,
.extend_emptyline {
  width: 340px;
  height: 1px;
  background: #1e1e1e;
}
.agenda > p {
  color: var(--outlier, #ececec);
  font-family: Gilroy-medium;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}
.reason > p {
  color: var(--labler-tight, #575757);
  font-family: Gilroy-medium;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}
.request_box,
.reason_box {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.enter_request,
.enter_reason {
  display: flex;
  width: 340px;
  height: 128px;
  padding: 16px;
  align-items: flex-start;
  gap: 8px;
  border: 1px solid var(--line, #1e1e1e);
}

.request_button > Button {
  display: flex;
  padding: 12px 104px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  background: #252525;
  width: 350px;
}
.enter_request > p {
  color: var(--labler-tight, #575757);
  font-family: Gilroy-regular;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
}
.enter_reason > p {
  color: var(--canvas, #fff);
  font-family: Gilroy-regular;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
}
.extend_button > Button {
  background: #252525;
}
.logs_button p {
  font-size: 14px;
}

.extenddate_text,
.extendtime_text {
  display: flex;
  width: 166px;
  padding: 12px;
  gap: 4px;
  border: 1px solid var(--line, #1e1e1e);
}
.extend_date > p,
.extend_time > p {
  color: var(--labler-tight, #575757);
  font-family: Gilroy-medium;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}
.extend_date,
.extend_time {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.extend_section {
  display: flex;
  gap: 8px;
}
.extenddate_text > p,
.extendtime_text > p {
  color: var(--canvas, #fff);
  text-align: center;
  font-family: Gilroy-medium;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.commits_mapping {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 10px;
  border-right: 1px solid #282828;
}
.commit_render {
  height: 230vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.log_link > p {
  padding: 20px 46px;
  display: flex;
}
.revision_main {
  background-color: #141414;
  display: flex;
  padding: 24px;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.revision_date {
  display: flex;
  gap: 25px;
  flex-direction: column;
}
.agenda_field {
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.revision_content {
  display: flex;
  flex-direction: column;
}
.revision_content > h3 {
  font-size: 20px;
}
.revision_content > p {
  font-size: 14px;
  color: grey;
}
.agenda_field h5 {
  color: grey;
}
.revision_agenda,
.revision_meeting {
  border: 1px solid rgb(58, 57, 57);
  width: 100%;
  height: 100px;
  padding: 6px;
}
.copy_link {
  display: flex;
  gap: 5px;
  justify-content: flex-end;
  cursor: pointer;
  background-color: #282828;
  padding: 10px;
  width: 20%;
}

.date,
.time {
  display: flex;
  align-items: baseline;
  gap: 10px;
}
.date > h5,
.time > h5 {
  color: grey;
}
.revision_dateandtime {
  display: flex;
  gap: 200px;
}
@media (max-width: 1290px) {
  .log_link > p {
    padding: 20px 30px;
  }
}

@media (max-width: 1280px) {
  .log_link > p {
    padding: 20px 28px;
  }
}

@media (max-width: 1270px) {
  .log_link > p {
    padding: 20px 28px;
  }
}
@media (max-width: 1247px) {
  .log_link > p {
    padding: 20px 26px;
  }
}
@media (max-width: 1210px) {
  .log_link > p {
    padding: 20px 24px;
  }
}
@media (max-width: 1179px) {
  .log_link > p {
    padding: 20px 20px;
  }
}
@media (max-width: 1147px) {
  .log_link > p {
    padding: 20px 18px;
  }
}
@media (max-width: 1136px) {
  .log_link > p {
    padding: 20px 18px;
  }
}
@media (max-width: 1116px) {
  .log_link > p {
    padding: 20px 18px;
  }
}
@media (max-width: 1084px) {
  .log_link > p {
    padding: 20px 18px;
  }
}
@media (max-width: 1082px) {
  .log_link > p {
    padding: 20px 17px;
  }
}
@media (max-width: 1071px) {
  .log_link > p {
    padding: 20px 17px;
  }
}
@media (max-width: 1064px) {
  .log_link > p {
    padding: 20px 14px;
  }
}
@media (max-width: 1026px) {
  .log_link > p {
    padding: 20px 14px;
  }
}
@media (max-width: 1015px) {
  .log_link > p {
    padding: 20px 12px;
  }
}
@media (max-width: 989px) {
  .log_link > p {
    padding: 20px 12px;
  }
}
@media (max-width: 984px) {
  .log_link > p {
    padding: 20px 10px;
  }
}
@media (max-width: 946px) {
  .log_link > p {
    padding: 20px 8px;
  }
}
@media (max-width: 920px) {
  .log_link > p {
    padding: 20px 6px;
  }
}
@media (max-width: 902px) {
  .log_link > p {
    padding: 20px 5px;
  }
}
@media (max-width: 870px) {
  .log_link > p {
    padding: 20px 4px;
  }
}
@media (max-width: 865px) {
  .log_link > p {
    padding: 20px 4px;
  }
}
@media (max-width: 855px) {
  .log_link > p {
    padding: 20px 4px;
  }
}
@media (max-width: 831px) {
  .log_link > p {
    padding: 20px 40px;
  }
}
@media (max-width: 813px) {
  .log_link > p {
    padding: 20px 40px;
  }
}
@media (max-width: 763px) {
  .log_link > p {
    padding: 20px 40px;
  }
}
@media (max-width: 735px) {
  .log_link > p {
    padding: 20px 35px;
  }
}
@media (max-width: 700px) {
  .design_links {
    display: none;
  }
  .log_link > p {
    padding: 20px 30px;
  }
}
@media (max-width: 670px) {
  .design_links {
    padding: 8px 15px;
  }
  .log_link > p {
    padding: 20px 25px;
  }
}
@media (max-width: 625px) {
  .design_links {
    padding: 6px 12px;
  }
  .log_link > p {
    padding: 20px 20px;
  }
}
@media (max-width: 580px) {
  .design_links {
    padding: 5px 10px;
  }
  .log_link > p {
    padding: 20px 15px;
  }
}
@media (max-width: 535px) {
  .design_links {
    padding: 4px 8px;
  }
  .log_link > p {
    padding: 20px 10px;
  }
}
