/** @format */

.arrows > button {
  display: flex;
  align-items: center;
  color: var(--labler-tight, #575757);
  font-family: var(--font-medium);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  gap: 8px;
  border: none;
}
.arrows {
  display: flex;
  justify-content: center;
}
.task_system {
  display: flex;
  border-right: 1px solid #282828;
  flex-direction: column;
  padding: 16px 24px;
  gap: 24px;
  background: #1a1a1a;
}
.task_title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
.design_links {
  display: flex;
  font-style: normal;
  justify-content: space-between;
}

.log_link {
  display: flex;
  height: 48px;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--line, #1e1e1e);
}
.Raise_meeting,
.extend_request {
  display: inline-flex;
  padding: 24px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  background: #141414;
  left: 480px;
  top: 150px;
  z-index: 1;
}
.raisemeeting_header,
.extend_heading {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 167px;
}
.raisemeeting_header > h5,
.extend_heading > h5 {
  color: var(--canvas, #fff);
  font-family: Gilroy-bold;
  font-size: 19px;
  font-style: normal;
}
.meeting_emptyline,
.extend_emptyline {
  width: 340px;
  height: 1px;
  background: #1e1e1e;
}
.agenda > p {
  color: var(--outlier, #ececec);
  font-family: Gilroy-medium;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}
.reason > p {
  color: var(--labler-tight, #575757);
  font-family: Gilroy-medium;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}
.request_box,
.reason_box {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.enter_request,
.enter_reason {
  display: flex;
  width: 340px;
  height: 128px;
  padding: 16px;
  align-items: flex-start;
  gap: 8px;
  border: 1px solid var(--line, #1e1e1e);
}

.request_button > Button {
  display: flex;
  padding: 12px 104px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  background: #252525;
  width: 350px;
}
.enter_request > p {
  color: var(--labler-tight, #575757);
  font-family: Gilroy-regular;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
}
.enter_reason > p {
  color: var(--canvas, #fff);
  font-family: Gilroy-regular;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
}
.extend_button > Button {
  background: #252525;
}
.logs_button p {
  font-size: 14px;
}

.extenddate_text,
.extendtime_text {
  display: flex;
  width: 166px;
  padding: 12px;
  gap: 4px;
  border: 1px solid var(--line, #1e1e1e);
}
.extend_date > p,
.extend_time > p {
  color: var(--labler-tight, #575757);
  font-family: Gilroy-medium;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}
.extend_date,
.extend_time {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.extend_section {
  display: flex;
  gap: 8px;
}
.extenddate_text > p,
.extendtime_text > p {
  color: var(--canvas, #fff);
  text-align: center;
  font-family: Gilroy-medium;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.commits_mapping {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 10px;
  border-right: 1px solid #282828;
}
.commit_render {
  padding: 0 30px;
  height: 230vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.grid {
  padding: 20px;
}
.log_link > p {
  padding: 20px 40px 20px 45px;
  display: flex;
  /* height: 48px; */
  /* justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--line, #1e1e1e); */
}
