.design_system > h1 {
  color: var(--canvas, #fff);
  font-family: var(--font-bold);
  font-size: 20px;
}
.revisiondetails_main {
  color: var(--labler-tight, #575757);
  font-family: var(--font-Medium);
  font-size: 12px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: #1a1a1a;
  padding: 20px;
  height: fit-content;
}
.revisiondetails_main h3 {
  color: white;
  font-size: 15px;
}
.information_link > a,
.menu_information > a {
  color: #575757;
  text-decoration: underline;
}
.information_link,
.file_information,
.document_information {
  display: flex;
  gap: 5px;
}
.period_deadline {
  display: flex;
  justify-content: space-between;
}
.week_day_hour {
  display: flex;
  gap: 2px;
}
.periodic_time {
  display: flex;
  gap: 10px;
  font-family: var(--font-bold);
  color: var(--canvas, #575757);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.re_submit {
  display: flex;
  justify-content: flex-end;
}
.re_submit > Button {
  background-color: var(--labler-tight, #3d3a3a);
  font-size: 14px;
}
.design_system {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.deadline {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.file_document {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.home_information,
.menu_information {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.all_revisiondetails {
  padding: 30px 40px 0;
}
