.logout_modal {
  position: fixed;
  top: 0%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 2rem;
  border-radius: 10px;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logout_modal_main {
  background-color: #141414;
  position: fixed;
  top: 10%;
  left: 85%;
  padding: 10px;
}
@media (max-width: 1240px) {
  .logout_modal_main {
    left: 75%;
  }
}
@media (max-width: 745px) {
  .logout_modal_main {
    left: 65%;
  }
}
@media (max-width: 530px) {
  .logout_modal_main {
    left: 55%;
  }
}
@media (max-width: 415px) {
  .logout_modal_main {
    left: 45%;
  }
}
@media (max-width: 340px) {
  .logout_modal_main {
    left: 35%;
  }
}
@media (max-width: 287px) {
  .logout_modal_main {
    left: 25%;
  }
}
