/** @format */

.header_archive {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-right: 1px solid #282828;
  padding: 10px;
}

.archive_tasks {
  display: flex;
  cursor: pointer;
  padding: 16px;
  font-size: 14px;
  justify-content: space-between;
  border-bottom: 1px solid var(--line, #1e1e1e);
}
.audit_cards,
.audit_main {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.reject_button > Button {
  color: rgb(239, 63, 63);
  border: 1px solid rgb(239, 63, 63);
  font-size: 13px;
  font-family: var(--font-Light);
}

.logs_button > Button {
  font-family: var(--font-medium);
  font-size: 14px;
  background-color: #2e2c2c;
}
.arrows {
  display: flex;
  justify-content: center;
}
.audit_main {
  height: 230vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.reject_revision {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.revision_button {
  font-size: 14px;
}
.audits_modal {
  display: none;
}
/* .grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
} */
@media (max-width: 830px) {
  .audits_modal {
    display: block;
  }
}
@media (max-width: 475px) {
  .header_archive {
    padding: 0;
  }
}
