.header_archive {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: Gilroy-Light;
}
.audit_cards {
  display: flex;
  flex-direction: column;
  gap: 20px;

  /* background-color: #575757; */
}
.archive_task > button {
  display: flex;
  gap: 420px;
  color: white;
  font-family: Gilroy-Light;
  font-size: 14px;
  background-color: none;
  border-bottom: 0.1px solid #575757;
  padding-bottom: 20px;
}
.reject_button > Button {
  color: rgb(239, 63, 63);
  border: 1px solid rgb(239, 63, 63);
  font-size: 13px;
  font-family: var(--font-Light);
}
.logs_button > Button {
  font-family: var(--font-medium);
  font-size: 14px;
  background-color: #2e2c2c;
}
.arrows {
  display: flex;
  justify-content: center;
}
