.header_archive {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: Gilroy-Light;
  padding: 20px;
  border-right: 1px solid #282828;
}
.archive_button {
  display: flex;
  justify-content: space-between;
}
.audit_cards,
.audit_main {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* .audit_main > button {
  color: white;
  font-family: var(--font-Light);
  font-size: 15px;
  background-color: #141414;
  padding: 10px;
  text-align: left;
} */
.archivetask_horizontalline {
  border: 1px solid gray;
  width: 100%;
}
.reject_button > Button {
  color: rgb(239, 63, 63);
  border: 1px solid rgb(239, 63, 63);
  font-size: 13px;
  font-family: var(--font-Light);
}

.logs_button > Button {
  font-family: var(--font-medium);
  font-size: 14px;
  background-color: #2e2c2c;
}
.arrows {
  display: flex;
  justify-content: center;
}
.audit_main {
  padding: 0 30px;

  height: 230vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.reject_revision {
  display: flex;
  justify-content: space-between;
}
.audit_main > button {
  background-color: #282828;
}
.revision_button {
  font-size: 14px;
}
.grid {
  padding: 20px;
}
