.Button-main {
  /* background-color: var(--green, #00ce53); */
  font-family: "Gilroy-medium";
  align-items: center;
  justify-content: center;
  gap: 8px;
  display: flex;
  cursor: pointer;
}
.access {
  display: flex;
  flex-direction: row;
  color: #fff;
  font-size: 20px;
  gap: 10px;
}
.primary {
  background: var(--green, #00ce53);
}
.secondary {
  background: #141414;
}
.Toast {
  background: #1e1e1e;
  width: fit-content;
}
.small {
  padding: 4px 16px;
}
.medium {
  padding: 12px 20px;
}
.large {
  width: 10px 12px;
}
@media (max-width: 1290px) {
  .Button_main {
    padding: 10px 15px;
  }
}
