.Button_main {
  background-color: var(--green, #00ce53);
  font-family: "Gilroy-medium";
  align-items: center;
  justify-content: center;
  padding: 12px 20px;
  gap: 8px;
  display: flex;
  cursor: pointer;
}
.access {
  display: flex;
  flex-direction: row;
  color: #fff;
  font-size: 20px;
  gap: 10px;
}
@media (max-width: 1290px) {
  .Button_main {
    padding: 10px 15px;
  }
}
.primary {
  background-color: var(--green, #00ce53);
}
