.button {
  font-family: "Gilroy-medium";
  align-items: center;
  justify-content: center;
  gap: 8px;
  display: flex;
  cursor: pointer;
  outline: none;
}
.access {
  display: flex;
  flex-direction: row;
  color: #fff;
  font-size: 20px;
  gap: 10px;
}
.button-primary {
  background: var(--green, #00ce53) !important;
  color: WHITE;
}
.button-secondary {
  background: #141414;
  color: white;
}
/* .Toast {
  background: #1e1e1e;
} */
.button-negotiate {
  background: #141414;
  border: 2px solid white;
  color: white;
}
.button-small {
  padding: 5px 10px;
}
.button-medium {
  padding: 12px 20px;
}
.button-large {
  padding: 10px 60px;
}
