.toast-main {
  display: flex;
  gap: 10px;
  background: #1e1e1e;
  color: #fff;
  font-family: "Gilroy-medium";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  cursor: pointer;
}

.message_box {
  display: flex;
  gap: 10px;
}
.toast_verticalline {
  width: 1px;
  height: 42px;
  background: #141414;
}
.message_box > img {
  padding: 10px;
}

.alert {
  display: flex;
  gap: 8px;
  padding: 10px;
}
.success {
  color: green;
}
.error {
  color: red;
}
.warning {
  color: orange;
}
