.workinghours_main {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px;
  background-color: #141414;
}
.check_workinghours > h4 {
  color: var(--canvas, #fff);
  text-shadow: 10.804594993591309px 10.804594993591309px 324.1378479003906px 0px
    rgba(183, 183, 183, 0.5);
  font-family: "Gilroy-Bold";
  font-size: 20px;
}
.check_workinghours {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}
.clock_timing {
  display: flex;
  align-items: flex-start;
  gap: 24px;
}
.clock_timing h5 {
  color: var(--labler-tight, #575757);
  font-family: Gilroy-medium;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.checkin {
  display: flex;
  padding: 12px;
  align-items: center;
  gap: 20px;
  background-color: #1e1e1e;
}
.check > h5 {
  color: var(--canvas, #fff);
  font-family: "Gilroy-regular";
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.check > h4 {
  color: var(--canvas, #fff);
  font-family: "Gilroy-bold";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.checkin_seconds {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.time_checkinhours {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  gap: 10px;
}

/* .checkin > button {
  display: flex;
  padding: 12px 20px;
  justify-content: center;
  align-items: center;
  gap: 8px;
} */
.check {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.centeremptyline {
  width: 100%;
  height: 1px;
  background: #1e1e1e;
}
.checkin_levels {
  display: flex;
  flex-direction: row;
  padding-top: 24px;
  justify-content: space-between;
  align-items: center;
}
.first_level,
.second_level,
.third_level,
.fourth_level {
  padding: 16px;
  border-radius: 40px;
  background: #1e1e1e;
  z-index: 100;
  cursor: pointer;
}

.firstlevel_timing,
.secondlevel_timing,
.thirdlevel_timing,
.fourthlevel_timing {
  display: flex;
  flex-direction: column;
  color: var(--labler-tight, #575757);
  font-family: "Gilroy-bold";
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  gap: 5px;
  align-items: center;
}
.level_progress {
  position: relative;
}
.level_crossing {
  width: 100%;
  height: 16px;
  background: #1e1e1e;
  top: 50px;
  z-index: 1;
  position: absolute;
}
.workingcheckin_page {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 100px;
  /* padding: 20px; */
  padding: 20px 20px 0 0;
}
.toast_warning {
  width: 209px;
  height: 1px;
  background: #ffc700;
  position: absolute;
}
@media (max-width: 1290px) {
  .checkin {
    flex-wrap: wrap;
  }
  .checkin_seconds {
    display: flex;
  }
}
@media (max-width: 813px) {
  .workingcheckin_page {
    padding: 20px;
  }
}
@media (max-width: 480px) {
  .workingcheckin_page {
    width: 400px;
  }
}
