/** @format */

.workinghours_main {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 24px;
  background-color: #141414;
}
.check_workinghours > h4 {
  color: var(--labler-tight, #fff);
  text-shadow: 10.804594993591309px 10.804594993591309px 324.1378479003906px 0px
    rgba(183, 183, 183, 0.5);
  font-family: var(--font-Medium);
  font-size: 20px;
}
.check_workinghours {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}
.clock_timing {
  display: flex;
  align-items: flex-start;
  gap: 24px;
}
.clock_timing h5 {
  color: var(--labler-tight, #575757);
  font-family: var(--font-Medium);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.checkin {
  display: flex;
  padding: 12px;
  align-items: center;
  gap: 30px;
  background-color: #1e1e1e;
}
.check > h5 {
  color: var(--canvas, #fff);
  font-family: var(--font-Medium);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.check > h4 {
  color: var(--canvas, #fff);
  font-family: var(--font-bold);
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.checkin_seconds {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.time_checkinhours {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  gap: 20px;
}
.check {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.centeremptyline {
  width: 100%;
  height: 1px;
  background: #1e1e1e;
}
.checkin_levels {
  display: flex;
  flex-direction: row;
  padding-top: 24px;
  justify-content: space-between;
}
.first_level,
.second_level,
.third_level,
.fourth_level {
  padding: 16px;
  border-radius: 40px;
  background: #1e1e1e;
  z-index: 100;
  cursor: pointer;
}

.firstlevel_timing,
.secondlevel_timing,
.thirdlevel_timing,
.fourthlevel_timing {
  display: flex;
  flex-direction: column;
  color: var(--labler-tight, #575757);
  font-family: var(--font-bold);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  gap: 5px;
  align-items: center;
}
.level_progress {
  position: relative;
}
.level_crossing {
  width: 100%;
  height: 16px;
  background: #1e1e1e;
  top: 50px;
  z-index: 1;
  position: absolute;
}
.workingcheckin_page {
  display: flex;
  flex-direction: column;
  gap: 100px;
  margin: auto;
  align-items: center;
}
.toast_warning {
  width: 209px;
  height: 1px;
  background: #ffc700;
}
.toast_button {
  display: flex;
  justify-content: flex-end;
}
.grace_time,
.gps_location,
.report_main {
  background-color: #141414;
  display: flex;
  padding: 24px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.gracetime_header,
.gpslocation_header {
  display: flex;
  align-items: flex-start;
  gap: 237px;
}
.gracetime_header > h5,
.report_header > h5 {
  color: var(--canvas, #fff);
  font-family: var(--font-bold);
  font-size: 20px;
  font-style: normal;
}
.gracetime_para {
  display: flex;
  flex-direction: column;
  gap: 2px;
  text-align: center;
  color: grey;
}
.grace_time > h4 {
  font-size: 20px;
}
b {
  font-size: 25px;
}
span {
  font-size: 25px;
  color: grey;
}
.grace_time,
.gps_location > Button {
  width: 100%;
}

.gpslocation_header > h5 {
  color: var(--canvas, #fff);
  font-family: var(--font-bold);
  font-size: 25px;
  font-style: normal;
}
.gps_location h4 {
  color: grey;
  font-size: 16px;
}
.location_para {
  display: flex;
  gap: 10px;
  font-family: var(--font-light);
}
.gps_emptyline,
.report_emptyline {
  width: 430px;
  height: 1px;
  background: #1e1e1e;
}
.report_list {
  display: flex;
  padding: 2px 5px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 100%;
  border: 1px solid var(--canvas, #fff);
}
.lunch_warningcheckin {
  display: flex;
  flex-direction: column;
}
.error_alert {
  display: flex;
}
.error_alert > p {
  color: #d0342c;
}
.report_main {
  background-color: #141414;
  display: flex;
  padding: 24px;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  gap: 16px;
}
.grace_time > Button {
  width: 100%;
}
.task_report {
  display: flex;
  gap: 10px;
}
.task_name {
  display: flex;
  flex-direction: column;
  gap: 1px;
}
.task_name > h4,
.add_file > h4,
.add_link > h4,
.another_task > h4 {
  color: grey;
  font-size: 12px;
}
.task_status,
.current_status {
  display: flex;
  gap: 100px;
}
.add_file,
.add_link {
  display: flex;
  gap: 400px;
}
.task_status > form {
  padding: 10px;
}
.task_status select {
  padding: 3px;
  background-color: #141414;
  border: 1px solid rgb(56, 55, 55);
  color: white;
}

.report_header {
  display: flex;
  align-items: flex-start;
  gap: 300px;
}
.drag_file {
  border: 1px dashed rgb(56, 55, 55);
  width: 100%;
  height: 100px;
}
.drag_file > h5 {
  color: grey;
  text-align: center;
  padding: 35px;
}
.drag_link {
  border: 1px solid rgb(56, 55, 55);
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 5px;
}
.completed_taskline {
  border: 1px dotted grey;
  width: 100%;
}
.task_name > h3,
.another_task {
  font-size: 15px;
}
.current_status > form {
  padding: 10px;
}

.current_status select {
  padding: 3px;
  background-color: #141414;
  border: 1px solid rgb(56, 55, 55);
  color: grey;
}
.report_main > button {
  width: 100%;
  padding: 10px;
}
@media (max-width: 1290px) {
  .checkin {
    padding: 8px;
  }
  .checkin_seconds {
    display: flex;
  }
  .time_checkinhours {
    flex-wrap: wrap;
  }
}
@media (max-width: 1267px) {
  .checkin {
    flex-wrap: nowrap;
  }
}
@media (max-width: 781px) {
  .checkin {
    flex-wrap: wrap;
  }
}
@media (max-width: 770px) {
  .check_workinghours {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
  }
  .workinghours_main {
    width: 90%;
    display: flex;
  }
  .checkin_levels {
    display: flex;
    gap: 30px;
  }
  .checkin {
    display: flex;
    flex-direction: column;
    width: 60%;
  }
  .button-regular {
    width: 100%;
  }
}
@media (max-width: 750px) {
  .time_checkinhours {
    display: flex;
    align-items: center;
  }
  .workinghours_main {
    width: 80%;
  }
}
@media (max-width: 560px) {
  .workinghours_main {
    width: 70%;
  }
}
@media (max-width: 552px) {
  .secondlevel_timing,
  .thirdlevel_timing {
    text-align: center;
  }
  .checkin {
    width: 70%;
  }
}
@media (max-width: 500px) {
  .workingcheckin_page {
    display: flex;
    align-items: flex-start;
  }
}
@media (max-width: 480px) {
  .checkin {
    flex-wrap: nowrap;
    gap: 15px;
    width: 100%;
  }
  .workinghours_main {
    width: 90%;
  }
  .workingcheckin_page {
    width: 100%;
    gap: 60px;
  }
  .secondlevel_timing p,
  .thirdlevel_timing p {
    text-align: center;
  }
  .checkin > button {
    padding: 10px 15px;
  }
}
/* @media (max-width: 407px) {
  .workinghours_main {
    width: 95%;
  }
  .checkin_levels {
    display: flex;
    gap: 10px;
  }
} */
/* @media (max-width: 370px) {
  .check_workinghours > h4 {
    text-align: center;
  }
  .checkin {
    width: 80%;
  }
} */
