.questionnaire_main h3 {
  font-family: Gilroy-Bold;
}
.questionnaire_main {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.question a {
  color: white;
  font-family: Gilroy-Light;
  font-size: 14px;
}
.question > .horizontal_line_questionnaire {
  border: 0.1px solid white;
  width: 300px;
}
.question + div > .horizontal_line_meeting {
  border: 0.1px solid #282828;
  width: 300px;
}
.meet a {
  font-family: Gilroy-Light;
  color: rgb(115, 105, 105);
  font-size: 14px;
}
.question,
.meet {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.questionnaire_head {
  display: flex;
}
.question_button {
  display: flex;
  justify-content: flex-end;
}
.question_button > Button {
  background-color: rgb(39, 38, 38);
}
.wait_button > Button {
  color: rgb(255, 187, 0);
  border: 1px solid rgb(255, 187, 0);
  font-size: 12px;
}
.questionnaire_one_all h4,
.questionnaire_two_head h4 {
  font-family: Gilroy-Medium;
  font-size: 14px;
}
.questionnaire_one {
  display: flex;
  justify-content: space-between;
}
.ask_date h4,
.negotiate_seemore h4,
.negotiate_seedown h4,
.ans_date h4,
.individual_questionnaire > h5 {
  color: rgb(115, 105, 105);
  font-size: 12px;
  font-family: Gilroy-Medium;
}
.ask_date > #date,
.ans_date > #date {
  color: white;
  font-family: Gilroy-Medium;
}
.negotiate_seemore,
.negotiate_seedown {
  display: flex;
  justify-content: center;
}
.questionnaire_one_all {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: rgb(39, 38, 38);
  padding: 20px;
}
.link_para {
  color: rgb(115, 105, 105);
  font-family: Gilroy-Medium;
  display: flex;
  gap: 3px;
}
.individual_questionnaire > p {
  color: white;
  font-family: Gilroy-Light;
  font-size: 13px;
}
.individual_questionnaire > #link_para_another,
.individual_questionnaire > .file_para {
  color: white;
  font-family: Gilroy-Medium;
  display: flex;
  gap: 3px;
}
.questionnaire_two_head > Button {
  color: green;
  border: 1px solid green;
  height: 20px;
  font-size: 12px;
}
.questionnaire_two_head,
.ask_answer {
  display: flex;
  justify-content: space-between;
}
.all_questionnaires {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.questionnaire_two {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.questionnaire_two_all {
  border: 1px solid #282828;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.question_one {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.question_overall {
  padding-bottom: 20px;
}
/* .questionnaire_two_all {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
} */
