/** @format */

.questionnaire_main h3 {
  font-family: Gilroy-Bold;
}
.questionnaire_main {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 25px;
  background-color: #1a1a1a;
}
.negotiate_link a {
  color: white;
  font-family: Gilroy-Light;
  font-size: 14px;
}

.question > .horizontal_line_questionnaire {
  border: 0.1px solid white;
  width: 300px;
}
.question + div > .horizontal_line_meeting {
  border: 0.1px solid #282828;
  width: 300px;
}
.meet a {
  font-family: Gilroy-Light;
  color: rgb(115, 105, 105);
  font-size: 14px;
}
.question,
.meet {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.questionnaire_head {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.questionnaire_head a {
  padding-bottom: 10px;
}
.question_button {
  display: flex;
  justify-content: flex-end;
}
.question_button > Button {
  background-color: rgb(39, 38, 38);
}
.wait_button > Button {
  color: rgb(255, 187, 0);
  border: 1px solid rgb(255, 187, 0);
  font-size: 12px;
  padding: 10px;
}
.questionnaire_one_all h4,
.questionnaire_two_head h4 {
  font-family: Gilroy-Medium;
  font-size: 14px;
}
.questionnaire_one {
  display: flex;
  justify-content: space-between;
}
.ask_date h4,
.negotiate_seemore h4,
.negotiate_seedown h4,
.ans_date h4,
.individual_questionnaire > h5 {
  color: rgb(115, 105, 105);
  font-size: 12px;
  font-family: Gilroy-Medium;
}
.ask_date > #date,
.ans_date > #date {
  color: white;
  font-family: Gilroy-Medium;
}
.negotiate_seemore,
.negotiate_seedown {
  display: flex;
  gap: 10px;
  justify-content: center;
}
.questionnaire_one_all {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: rgb(39, 38, 38);
  padding: 20px;
}
.link_para,
.questionnaire_number > h5 {
  color: rgb(115, 105, 105);
  font-family: Gilroy-Medium;
  display: flex;
  gap: 3px;
}
.individual_questionnaire > p {
  color: white;
  font-family: Gilroy-Light;
  font-size: 13px;
}
.individual_questionnaire > #link_para_another,
.individual_questionnaire > .file_para {
  color: white;
  font-family: Gilroy-Medium;
  display: flex;
  gap: 3px;
}
.questionnaire_two_head > Button {
  color: green;
  border: 1px solid green;
  height: 20px;
  font-size: 12px;
}
.questionnaire_two_head,
.ask_answer {
  display: flex;
  justify-content: space-between;
}
.all_questionnaires {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.individual_questionnaire {
  display: flex;
  flex-direction: column;
  gap: 3px;
  font-size: 14px;
}

.questionnaire_two_all {
  border: 1px solid #282828;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.question_one {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.question_overall {
  padding-bottom: 20px;
}
.create_question {
  display: flex;
  justify-content: space-between;
}

.createquestion_main {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.reference {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.questionnaire_reference {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.questionone_details,
.reference_main {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.askquestion_button > Button {
  border: none;
  width: 100%;
}
.createquery_main {
  background-color: rgba(25, 25, 25, 10);
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  font-size: 12px;
}
.questionnaire_reference {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.createquery_main h2 {
  color: white;
}
.questionone_information {
  display: flex;
  gap: 285px;
  border: 0.1px solid #484646;
  padding: 10px;
}
.link_details {
  display: flex;
  gap: 350px;
  border: 0.1px solid #484646;
  padding: 10px;
}
.reference_main > Button {
  border: none;
  font-size: 13px;
}
.overall_queries,
.links_refer {
  display: flex;
  gap: 285px;
}
.questionsoverall_main {
  background-color: rgba(25, 25, 25, 1);
  padding: 20px;
  font-size: 13px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.question_reference {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.second_para {
  display: flex;
  gap: 420px;
}
.createquery_main h4,
.createquery_main p {
  font-family: var(--font-Light);
}
.create_question > h2 {
  font-family: var(--font-Medium);
}
.question_lists,
.overall_link {
  border: 1px solid var(--line, #2a2828);
  padding: 15px;
}
.first_link,
.one_question,
.second_link {
  display: flex;
  justify-content: space-between;
}
.questionnaire_toast {
  position: absolute;
  left: 40%;
  bottom: 45%;
}
.overall_link a {
  color: white;
}
.one_question > h4,
.first_link > h4 {
  color: #656565;
}
.negotiate_header {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 690px) {
  .questionnaire_main {
    flex-wrap: wrap;
  }
}
@media (max-width: 430px) {
  .wait_button > Button {
    font-size: 10px;
  }
}
@media (max-width: 410px) {
  .wait_button > Button {
    font-size: 8px;
    padding: 10px;
  }
}
@media (max-width: 376px) {
  .wait_button > Button {
    font-size: 9px;
    padding: 16px;
  }
}
@media (max-width: 360px) {
  .individual_questionnaire {
    font-size: 10px;
  }
  .individual_questionnaire > p {
    font-size: 1px;
  }
  .questionnaire_main {
    padding: 2px;
    gap: 5px;
  }
  .button-medium {
    padding: 10px;
  }
  .questionnaire_two_all {
    padding: 0;
  }
}
