/** @format */
.time_calculation {
  display: flex;
  padding: 16px;
  /* justify-content: center;
  align-items: center; */
  gap: 24px;
  background: #141414;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  width: fit-content;
}
.hours_att {
  display: flex;
  /* width: 106px; */
  flex-direction: column;
  justify-content: center;
  color: var(--canvas, #fff);
  text-align: right;
  font-family: "Gilroy-medium";
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 19.5px;
}
/* .hours_att > P {
  font-size: 14px;
}
.hours_att > h5 {
  font-size: 16px;
}
.hours_ded > h5 {
  font-size: 16px;
}
.hours_ded > p {
  font-size: 14px;
} */
.hours_ded {
  display: flex;
  /* width: 106px; */
  flex-direction: column;
  justify-content: center;
  color: var(--canvas, #fff);
  font-family: Gilroy-medium;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 19.5px;
}
.timer_verticalline {
  width: 1px;
  height: 40px;
  background: #1e1e1e;
}
