/** @format */
.correction {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.correction > h2 {
  color: var(--canvas, #fff);
  font-family: var(--font-bold);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
}
.design_link {
  display: flex;
  align-items: center;
  gap: 3px;
}
.design_link > h4 {
  color: var(--canvas, #fff);
  font-family: var(--font-bold);
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.design_link > img {
  width: 14px;
  height: 14px;
}

.design_file {
  display: flex;
  align-items: center;
  gap: 3px;
}
.design_file > img {
  width: 14px;
  height: 14px;
}
.design_file > h4 {
  color: var(--canvas, #fff);
  font-family: var(--font-bold);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.correction > p {
  color: var(--labler-tight, #575757);
  font-family: var(--font-bold);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
}
.rework > h2 {
  color: var(--canvas, #fff);
  font-family: var(--font-bold);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
}
.rework > p {
  color: var(--labler-tight, #575757);
  font-family: var(--font-bold);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
}
.link_drive > h1 {
  color: var(--canvas, #fff);
  font-family: var(--font-bold);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
}
.link_drive > p {
  font-size: 13px;
  color: var(--labler-tight, #575757);
}
#time {
  color: var(--labler-tight, #575757);
  text-align: center;
  font-family: var(--font-bold);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}
#days {
  color: var(--canvas, #fff);
  font-family: var(--font-medium);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
}
.rework {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.link_drive {
  display: flex;
  flex-direction: column;
  gap: 8px;
  cursor: pointer;
}
.day_time {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.design_respond {
  display: flex;
  gap: 10px;
}
.design_respond > p {
  color: var(--labler-tight, #575757);
  font-family: var(--font-bold);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
}
.design_clock {
  display: flex;
  gap: 8px;
}
.time_respond {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.link_time {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.see_more {
  display: flex;
  width: 570px;
  flex-direction: column;
  gap: 24px;
}
.onclick_button {
  display: flex;
  gap: 8px;
}
.logs_button {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 10px;
}
.down_arrow > button {
  display: flex;
  color: var(--labler-tight, #575757);
  font-family: var(--font-bold);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  gap: 8px;
  border: none;
  background-color: rgba(0, 0, 0, 0);
}
.down_arrow {
  display: flex;
  justify-content: center;
}

.design_min > p,
.design_hours > p,
.design_days > p {
  color: var(--canvas, #fff);
  font-family: var(--font-bold);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.design_min {
  display: flex;
  flex-direction: column;
}
.design_hours {
  display: flex;
  flex-direction: column;
}
.design_days {
  display: flex;
  flex-direction: column;
}
.design_hours > h2,
.design_min > h2,
.design_days > h2 {
  color: var(--canvas, #fff);
  text-align: center;
  text-shadow: 10.804594993591309px 10.804594993591309px 324.1378479003906px 0px
    rgba(183, 183, 183, 0.5);
  font-family: var(--font-bold);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
