/** @format */
.design_links {
  display: flex;
}
.log_link {
  display: flex;
  height: 48px;
  padding: 16px 51px;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--canvas, #fff);
  background: #141414;
}
.log_link > a {
  color: var(--canvas, #fff);
  font-family: "Gilroy-Regular";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background-color: #141414;
}
.commit_link {
  display: flex;
  height: 48px;
  padding: 16px 37px 16px 38px;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--line, #1e1e1e);
}
.commit_link > a {
  color: var(--labler-tight, #575757);
  font-family: " Gilroy-Light";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.audits_link {
  display: flex;
  height: 48px;
  padding: 16px 46px;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--line, #1e1e1e);
}
.audits_link > a {
  color: var(--labler-tight, #575757);
  font-family: " Gilroy-Light";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.backlog_link {
  display: flex;
  height: 48px;
  padding: 16px 36px 16px 37px;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--line, #1e1e1e);
}
.backlog_link > a {
  color: var(--labler-tight, #575757);
  font-family: " Gilroy-Light";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: none;
}
.task_system {
  display: flex;
  flex-direction: column;
  width: 500px;
}
.task_title > h1 {
  color: var(--canvas, #fff);
  font-family: Gilroy;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}
.task_system > p {
  color: var(--labler-tight, #575757);
  font-family: Gilroy;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
}
.design_link {
  display: flex;
  align-items: center;
  gap: 3px;
}
.design_link > h4 {
  color: var(--canvas, #fff);
  font-family: Gilroy;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.design_file {
  display: flex;
  align-items: center;
  gap: 3px;
}
.design_file {
  color: var(--canvas, #fff);
  font-family: Gilroy;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.task_system > h2 {
  color: var(--canvas, #fff);
  font-family: Gilroy;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
}
#linkheading {
  color: var(--canvas, #fff);
  font-family: Gilroy;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
}
#time {
  color: var(--labler-tight, #575757);
  text-align: center;
  font-family: Gilroy;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}
#days {
  color: var(--canvas, #fff);
  font-family: Gilroy;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
}
.task_title {
  display: flex;
  flex-direction: column;
}
