/** @format */

.task_system {
  display: flex;
  border-right: 1px solid #282828;
  flex-direction: column;
  padding: 16px 24px;
  gap: 24px;
}

.task_title > h1 {
  color: var(--canvas, #fff);
  font-family: var(--font-bold);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}
.task_title > p {
  color: var(--labler-tight, #575757);
  font-family: var(--font-bold);
  font-size: 13px;
  font-style: normal;
  font-weight: 500;

  line-height: 16px;
}

.correction > h2 {
  color: var(--canvas, #fff);
  font-family: var(--font-bold);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
}
.design_link > img {
  width: 14px;
  height: 14px;
}
.task_title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.rework > p {
  color: var(--labler-tight, #575757);
  font-family: var(--font-bold);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
}
.logsempty {
  color: white;
}
.day_time {
  display: flex;
  flex-direction: column;
  width: 552px;
  gap: 8px;
  align-items: flex-start;
}
.time_respond {
  display: flex;
  align-items: center;
}
.link_time {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.arrows > button {
  display: flex;
  color: var(--labler-tight, #575757);
  font-family: var(--font-bold);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  gap: 8px;
  border: none;
  background-color: rgba(0, 0, 0, 0);
}
.arrows {
  display: flex;
  justify-content: center;
}
.commit_main {
  display: inline-flex;
  padding: 24px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  background: #141414;
  left: 480px;
  top: 150px;
  z-index: 1;
}

.commit_header > h5 {
  color: var(--canvas, #fff);
  font-family: var(--font-bold);
  font-size: 20px;
  font-style: normal;
}
.commit_header {
  display: flex;
  align-items: flex-start;
  gap: 237px;
}
.commit_emptyline {
  width: 340px;
  height: 1px;
  background: #1e1e1e;
}
#close_button {
  background: #141414;
}
.confirm_button > Button {
  width: 100%;
  color: #fff;
  text-align: center;
  font-family: var(--font-bold);
  font-size: 14px;
  font-style: normal;
}
.commit_content {
  display: flex;
  gap: 63px;
}
.commit_daysweeks {
  display: flex;
  gap: 8px;
}
.commit_deadline {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.commit_deadline > h5 {
  color: var(--labler-tight, #575757);
  font-family: var(--font-bold);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}
.commit_deadline > h4 {
  color: var(--canvas, #fff);
  font-family: var(--font-bold) d;
  font-size: 16px;
  font-style: normal;
}
.commit_weeks > h4,
.commit_days > h4,
.commit_hours > h4 {
  color: var(--canvas, #fff);
  text-align: center;
  text-shadow: 10.804594993591309px 10.804594993591309px 324.1378479003906px 0px
    rgba(183, 183, 183, 0.5);
  font-family: var(--font-bold);
  font-size: 20px;
  font-style: normal;
}
.commit_weeks > h5,
.commit_days > h5,
.commit_hours > h5 {
  color: var(--canvas, #fff);
  font-family: var(--font-medium);
  font-size: 14px;
  font-style: normal;
}
.commit_main > p {
  color: var(--labler-tight, #575757);
  text-align: center;
  font-family: var(--font-medium);
  font-size: 12px;
  font-style: normal;
  width: 340px;
}
.toast_successline {
  width: 209px;
  height: 1px;
  background: green;
  position: absolute;
}
.confirm_button {
  width: 100%;
}
.logs_mapping {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 10px;
  border-right: 1px solid #282828;
}
.logs_render {
  height: 230vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.negotiate_modal {
  display: none;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media (max-width: 835px) {
  .logs_mapping {
    padding: 0;
  }
  .grid {
    padding: 3px;
  }
}

@media (max-width: 828px) {
  .grid {
    display: block;
  }
}
@media (max-width: 830px) {
  .negotiate_page {
    display: none;
  }
  .negotiate_modal {
    display: block;
  }
  .logs_mapping {
    padding: 10px;
  }
}

@media (max-width: 778px) {
  .logs_mapping {
    padding: 0;
    border-right: none;
  }
  /* .logs_render {
    padding: 0 0 0 3px;
  } */
}
@media (max-width: 700px) {
  .task_system {
    padding: 0 0 15px 0;
  }
}

@media (max-width: 643px) {
  /* .task_system {
    width: 100%;
  } */
  .grid {
    display: block;
  }
}
@media (max-width: 630px) {
  .task_system {
    width: 70%;
  }
}
@media (max-width: 480px) {
  .task_title p,
  .correction p,
  .rework p,
  .link_drive p,
  .time_respond h2,
  .time_respond p {
    font-size: 14px;
  }
  .logs_link {
    padding: 0;
  }
  .design_links {
    display: flex;
    gap: 5px;
  }

  .grid {
    display: grid;
    grid-template-columns: none;
  }
}
@media (max-width: 450px) {
  .design_links {
    display: flex;
    gap: 2px;
  }
}
