/** @format */
.design_links {
  display: flex;
}
.log_link {
  display: flex;
  height: 48px;
  padding: 16px 51px;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--canvas, #fff);
  background: #141414;
}
.log_link > a {
  color: var(--canvas, #fff);
  font-family: "Gilroy-Regular";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background-color: #141414;
}
.commit_link {
  display: flex;
  height: 48px;
  padding: 16px 37px 16px 38px;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--line, #1e1e1e);
}
.commit_link > a {
  color: var(--labler-tight, #575757);
  font-family: " Gilroy-Light";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.audits_link {
  display: flex;
  height: 48px;
  padding: 16px 46px;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--line, #1e1e1e);
}
.audits_link > a {
  color: var(--labler-tight, #575757);
  font-family: " Gilroy-Light";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.backlog_link {
  display: flex;
  height: 48px;
  padding: 16px 36px 16px 37px;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--line, #1e1e1e);
}
.backlog_link > a {
  color: var(--labler-tight, #575757);
  font-family: " Gilroy-Light";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: none;
}
.task_system {
  display: flex;
  width: 570px;
  flex-direction: column;
  padding: 16px 24px;
  gap: 24px;
}

.task_title > h1 {
  color: var(--canvas, #fff);
  font-family: "Gilroy-Bold";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}
.task_title > p {
  color: var(--labler-tight, #575757);
  font-family: "Gilroy-Bold";
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  width: 550px;
  line-height: 16px;
}
/* .correction {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 552px;
}
.correction > h2 {
  color: var(--canvas, #fff);
  font-family: " Gilroy-Bold";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
} */
/* .design_link {
  display: flex;
  align-items: center;
  gap: 3px;
}
.design_link > h4 {
  color: var(--canvas, #fff);
  font-family: "Gilroy-Bold";
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.design_link > img {
  width: 14px;
  height: 14px;
} */

/* .design_file {
  display: flex;
  align-items: center;
  gap: 3px;
}
.design_file > img {
  width: 14px;
  height: 14px;
}
.design_file > h4 {
  color: var(--canvas, #fff);
  font-family: "Gilroy-Bold";
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
} */
.task_title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  width: 552px;
}
/* .correction > p {
  color: var(--labler-tight, #575757);
  font-family: "Gilroy-Bold";
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
} */
/* .rework > h2 {
  color: var(--canvas, #fff);
  font-family: "Gilroy-Bold";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
}
.rework > p {
  color: var(--labler-tight, #575757);
  font-family: "Gilroy-Bold";
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
} */
/* .link_drive > h1 {
  color: var(--canvas, #fff);
  font-family: "Gilroy-Bold";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
}
.link_drive > p {
  font-size: 13px;
  color: var(--labler-tight, #575757);
} */
/* #time {
  color: var(--labler-tight, #575757);
  text-align: center;
  font-family: Gilroy;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}
#days {
  color: var(--canvas, #fff);
  font-family: " Gilroy-Bold";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
} */
/* .rework {
  display: flex;
  flex-direction: column;
  width: 552px;
  gap: 8px;
}
.link_drive {
  display: flex;
  flex-direction: column;
  width: 552px;
  gap: 8px;
  cursor: pointer;
}
.day_time {
  display: flex;
  flex-direction: column;
  width: 552px;
  gap: 8px;
  align-items: flex-start;
} */
/* .design_respond {
  display: flex;
  gap: 10px;
  align-items: center;
}
.design_clock {
  display: flex;
  gap: 8px;
}
.time_respond {
  display: flex;
  align-items: center;
}
.link_time {
  display: flex;
  flex-direction: column;
  gap: 24px;
} */
.arrows > button {
  display: flex;
  color: var(--labler-tight, #575757);
  font-family: " Gilroy-Bold";
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  gap: 8px;
  border: none;
  background-color: rgba(0, 0, 0, 0);
}
.arrows {
  display: flex;
  justify-content: center;
}
.task_system {
  border-right: 1px solid #282828;
  height: 80%;
}
