.Login_page {
  color: var(--canvas, #fff);
  font-family: var(--font-Bold);
  background-color: #141414;
  box-shadow: 0px 0px 64px 0px rgba(0, 0, 0, 0.8);
  border-bottom: 1.1em;
  padding: 16px 24px;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  gap: 16px;
  align-content: center;
  justify-content: center;
  text-shadow: 10.804594993591309px 10.804594993591309px 324.1378479003906px 0px
    rgba(183, 183, 183, 0.5);
  font-size: 18px;
  width: 30%;
}
.emptyline {
  width: 100%;
  height: 1px;
  background-color: #1e1e1e;
}
/* .login_main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 259px;

} */
.user_name,
.user_password {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.Login_page input {
  padding: 10px;
  outline: none;
  color: var(--labler-tight, #575757);
  font-size: 15px;
  font-family: var(--font-regular);
  border: 1px solid var(--line, #1e1e1e);
  width: 100%;
}
.username_section > input,
.passcode > input {
  display: flex;
  width: 100%;
  padding: 12px;
  align-items: center;
  background-color: #141414;
}
.passcode {
  display: flex;
  flex-direction: row;
  position: relative;
  background-color: #141414;
  border: 1px solid var(--line, #1e1e1e);
  width: 100%;
}
.passcode > input {
  border-right: none;
}
.passcode > img {
  padding-right: 5px;
}
.Login_page > button {
  background-color: var(--green, #00ce53);
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 12px 0;
  gap: 8px;
  display: flex;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.access {
  display: flex;
  flex-direction: row;
  color: #fff;
  font-size: 20px;
  gap: 10px;
  font-family: var(--font-medium);
}
.Login_page h5 {
  color: var(--canvas, #fff);
  text-align: center;
  font-family: "gilroy-regular";
  font-size: 12px;
}
.passcode_section,
.username_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
}
.Login_page > img {
  position: relative;
  left: 110px;
}
@media (max-width: 1140px) {
  .Login_page {
    width: 40%;
  }
}
@media (max-width: 776px) {
  .Login_page {
    width: 50%;
  }
}
@media (max-width: 607px) {
  .Login_page {
    width: 70%;
  }
}
@media (max-width: 480px) {
  .login_main > h2 {
    font-size: 10px;
  }
  /* .login_main {
    gap: 200px;
    display: flex;
  } */
  .Login_page {
    width: 90%;
  }
}
