.passed > Button {
  color: rgb(37, 239, 37);
  border: 1px solid rgb(37, 239, 37);
  font-size: 13px;
  font-family: var(--font-Regular);
}
.archive_render {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.archive_arrows {
  display: flex;
  justify-content: center;
}
.archive_arrows > button {
  display: flex;
  align-items: center;
  color: #ffffff;
  font-family: var(--font-medium);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  gap: 8px;
  border: none;
}
