/** @format */
.header_main {
  background-color: black;
  padding: 12px 32px;
  border-bottom: 1px solid var(--line, #1e1e1e);
}
/* @media (max-width: 480px) {
  .header_main > img {
    width: 150px;
    height: 150px;
  }
} */
