/** @format */

.home_main {
  display: flex;
  flex-direction: row;
  color: white;
  padding: 12px 32px;
  height: 66px;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  border-bottom: 1px solid var(--line, #1e1e1e);
  background: #080808;
}
.home_main > h2 {
  color: var(--canvas, #fff);
  font-family: "var(--font-bold)";
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.header_name > h2 {
  color: var(--outlier, #ececec);
  font-family: "var(--font-bold)";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.header_name > p {
  color: var(--labler-tight, #575757);
  font-family: "var(--font-bold)";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

@media (max-width: 480px) {
  .home_main {
    display: flex;
    flex-direction: column;
    align-content: center;
    height: 150px;
  }
}
