.clock_work,
.task_board {
  font-family: Gilroy-Medium;
  font-size: 16px;
  padding: 15px;
}

.horizontal_line {
  border: 1px solid#282828;
  width: 80px;
}
.clock_work h4 {
  color: white;
}
.task_board a {
  color: #282828;
}
.assign_tasks_main {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  border-right: 1px solid #282828;
  height: 230vh;
  /* align-items: flex-start; */
  list-style-type: none;
  /* display: block; */
}

/* @media (max-width: 1000px) {
  .assign_tasks_main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
} */

/* .inactive {
  pointer-events: none;
  color: #282828;
} */
@media (max-width: 700px) {
  .assign_tasks_main {
    border-right: none;
  }
  .horizontal_line {
    border: none;
  }
}
