/** @format */

.homepage_main {
  display: flex;
  gap: 20px;
  padding: 20px;
}
.working_grid {
  padding: 40px;
}

.hours_deduction {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 40px;
  border-right: 1px solid #282828;
}
.hamimage {
  display: none;
}
.sidebar {
  display: none;
  position: absolute;
  top: 68px;
  right: 0;
  background-color: #282828;
  padding: 20px;
  width: 70%;
  height: 100vh;
}
.sidebar_link {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 50px;
}
.sidebar_emptyline {
  border: 1px solid #575757;
}
.sidebar_header {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.sidebar_content a {
  font-size: 25px;
}
.headercontent_name {
  display: flex;
  justify-content: space-between;
}
.headercontent_name > h2 {
  color: var(--outlier, #ececec);
  font-family: var(--font-bold);
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.sidebar_name > h3 {
  color: var(--outlier, #ececec);
  font-family: var(--font-bold);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.sidebar_name > p {
  color: var(--labler-tight, #575757);
  font-family: var(--font-bold);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.menu_link {
  display: flex;
  font-size: 20px;
  justify-content: center;
  gap: 20px;
}
@media (max-width: 1245px) {
  .homepage_main {
    flex-direction: column;
    align-content: center;
  }
  .hours_deduction {
    border-right: none;
  }
}
@media (max-width: 1000px) {
  .homepage_main {
    flex-direction: column;
    align-content: center;
  }
  .hours_deduction {
    border-right: none;
  }
}

@media (max-width: 813px) {
  .homepage_main {
    flex-wrap: wrap;
    align-content: center;
  }
}
@media (max-width: 805px) {
  .hours_deduction {
    padding: 10px;
  }
}
@media (max-width: 788px) {
  .working_grid {
    padding: 10px;
  }
}
@media (max-width: 700px) {
  .hamimage {
    display: block;
    cursor: pointer;
  }
  .sidebar {
    display: block;
    cursor: pointer;
  }
  .clock_work,
  .task_board,
  .home_main > h2,
  .header_name > h2,
  .header_name > p,
  .assign_tasks_main {
    display: none;
    border-right: none;
  }
}

@media (max-width: 570px) {
  .headercontent_name {
    flex-wrap: wrap;
  }
}
@media (max-width: 480px) {
  .sidebar {
    top: 150px;
    height: 82%;
  }
}
