/** @format */

.homepage_main {
  display: flex;
  gap: 10px;
}
.working_grid {
  padding: 30px;
}
.hours_deduction {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 40px;
  border-right: 1px solid #282828;
}
@media (max-width: 1169px) {
  .homepage_main {
    flex-direction: column;
    align-content: center;
  }
  .hours_deduction {
    border-right: none;
  }
}
@media (max-width: 1000px) {
  .homepage_main {
    flex-direction: column;
    align-content: center;
  }
  .hours_deduction {
    border-right: none;
  }
}

@media (max-width: 813px) {
  .homepage_main {
    flex-wrap: wrap;
    align-content: center;
  }
}
/* @media (max-width: 480px) {
  .home_main {
    flex-wrap: wrap;
  }
  .homepage_main {
    flex-wrap: wrap;
  }
  .hours_deduction {
    flex-direction: column;
    align-items: center;
  }
} */
/* @media (max-width: 1100px) {
  .working_time {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
  }
}
@media (max-width: 783px) {
  .working_time {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
  }
} */
