/** @format */

.homepage_main {
  display: flex;
  gap: 20px;
}
.working_grid {
  padding: 20px 10px;
}
.sidebar_logout > Button {
  width: 100%;
}

.hours_deduction {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20px;
  border-right: 1px solid #282828;
}
.logimage {
  display: none;
}
.logout {
  display: none;
  position: absolute;
  top: 68px;
  right: 0;
  background-color: #282828;
  padding: 20px;
  width: 40%;
  height: 100vh;
}
.hamimage {
  display: none;
}
.hamburger {
  cursor: pointer;
}
.sidebar {
  display: none;
  position: absolute;
  top: 68px;
  right: 0;
  background-color: #282828;
  justify-content: space-between;
  flex-direction: column;
  padding: 20px;
  width: 40%;
  height: 90vh;
}
.sidebar_link {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.sidebar_emptyline {
  border: 1px solid #575757;
}
.sidebar_header {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.sidebar_content a {
  font-size: 25px;
}
.headercontent_name {
  display: flex;
  justify-content: center;
}

.headercontent_name > h2 {
  color: var(--outlier, #ececec);
  font-family: var(--font-bold);
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.sidebar_name > h3 {
  color: var(--outlier, #ececec);
  font-family: var(--font-bold);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.sidebar_name > p {
  color: var(--labler-tight, #575757);
  font-family: var(--font-bold);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.menu_link {
  display: flex;
  font-size: 20px;
  gap: 20px;
}
.sidebar_logout {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sidebar_logout > p {
  color: grey;
}
.sidebar_logout > img {
  width: 15%;
}
@media (max-width: 1245px) {
  .homepage_main {
    flex-direction: column;
    align-content: center;
  }
  .hours_deduction {
    border-right: none;
  }
  .homepage_main {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
  }
}
@media (max-width: 1000px) {
  .homepage_main {
    flex-direction: column;
    align-content: center;
  }
  .hours_deduction {
    border-right: none;
  }
  .homepage_main {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
  }
}

@media (max-width: 813px) {
  .homepage_main {
    flex-wrap: wrap;
    align-content: center;
  }
}
@media (max-width: 805px) {
  .hours_deduction {
    padding: 10px;
  }
  .homepage_main {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
  }
}
@media (max-width: 788px) {
  .working_grid {
    padding: 10px;
  }
}
@media (max-width: 770px) {
  .working_grid {
    display: flex;
    align-items: center;
  }
}
@media (max-width: 700px) {
  .hamimage {
    display: block;
    cursor: pointer;
  }
  .sidebar {
    display: block;
    cursor: pointer;
  }
  .sidebar {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    z-index: 1000;
  }
  .menu_link h4 {
    font-size: 18px;
  }
  .clock_work,
  .task_board,
  .home_main > h2,
  .header_name > h2,
  .header_name > p,
  .assign_tasks_main {
    display: none;
    border-right: none;
  }
  .logimage {
    display: block;
    cursor: pointer;
  }
  .logout {
    display: block;
    cursor: pointer;
  }
  .header_name {
    display: none;
  }
}

@media (max-width: 570px) {
  .headercontent_name {
    flex-wrap: wrap;
  }
}

@media (max-width: 530px) {
  .menu_link {
    gap: 10px;
  }
}
@media (max-width: 502px) {
  .menu_link {
    gap: 8px;
  }
}
@media (max-width: 495px) {
  .menu_link {
    gap: 5px;
  }
}
@media (max-width: 486px) {
  .menu_link {
    gap: 4px;
  }
}
@media (max-width: 480px) {
  .sidebar {
    top: 65px;
    height: 92%;
  }
  .menu_link {
    gap: 2px;
  }
}
@media (max-width: 443px) {
  .menu_link h4 {
    font-size: 15px;
  }
  .menu_link > img {
    width: 20px;
  }
  .button-checkout {
    padding: 12px 15px;
  }
}
@media (max-width: 390px) {
  .sidebar {
    padding: 10px;
  }
}
