.years_grace {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
button {
  height: 10%;
  padding: 5px;
}
.years_grace > button {
  background-color: #141414;
}
.charts {
  background-color: #141414;
}
.charts_main {
  padding: 20px;
}
@media (max-width: 480px) {
  .line_graph {
    width: 100px;
  }
}
