.years_grace {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
button {
  height: 10%;
  padding: 5px;
}
.charts {
  background-color: #1a1a1a;
}
.charts_main {
  padding: 20px;
}
@media (max-width: 480px) {
  .charts_main {
    padding: 0;
  }
}
@media (max-width: 736px) {
  .charts_main {
    padding: 0;
  }
}
