.years_grace {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
button {
  height: 10%;
  padding: 5px;
}
.years_grace > button {
  background-color: #141414;
}
.charts {
  background-color: #141414;
}
.charts_main {
  padding: 20px;
}
@media (max-width: 815px) {
  .charts_main {
    padding: 0;
  }
}
@media (max-width: 736px) {
  .charts_main {
    padding: 0;
  }
}
@media (max-width: 729px) {
  .line_graph {
    width: 50%;
  }
}
/* @media (max-width: 480px) {
  .charts_main {
    padding: 0;
  }
  .line_graph {
    width: 90%;
  }
} */
@media (max-width: 431px) {
  .line_graph {
    padding: 0px;
  }
}
@media (max-width: 421px) {
  .line_graph {
    padding: 0px;
  }
}
