.timeline_header {
  font-family: Gilroy-Medium;
  color: white;
  font-size: 11px;
  display: flex;
  gap: 180px;
}
.timeline_header form select {
  width: 140px;
  padding: 10px;
  background-color: rgb(13, 13, 13);
  color: white;
  border: 0.1px solid rgb(23, 20, 20);
  font-family: Gilroy-Medium;
  outline: none;
}
.time_period {
  display: flex;
  gap: 50px;
}
.horizontal_line_week {
  border-bottom: 1px solid white;
  width: 64px;
}
.time_period > div a {
  color: white;
}
.week,
.month,
.year {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.vertical_line_graph {
  border: 0.1px solid rgb(23, 20, 20);
  height: 178px;
}
.horizontal_line_graph {
  border: 0.1px solid rgb(23, 20, 20);
  width: 500px;
}
.total_days {
  display: flex;
  gap: 22px;
}
.graph {
  display: flex;
  font-family: Gilroy-Medium;
  color: rgb(115, 105, 105);
}
.total_weeks {
  display: flex;
  gap: 8px;
}
.week_days {
  display: flex;
  flex-direction: column;
  gap: 22px;
}
.timeline_graph_main {
  background-color: rgb(13, 13, 13);
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.days {
  display: flex;
  flex-direction: column;
  gap: -10px;
}
.days > #outline_graph {
  position: absolute;
  bottom: 208px;
}
.month > div {
  border: 1px solid rgb(21, 20, 20);
  width: 64px;
}
