.timeline_header {
  color: white;
  font-size: 11px;
  display: flex;
  justify-content: space-between;
}
/* .timeline_header form option {
  background-color: #141414;
} */
form option:hover {
  background-color: #141414;
}
.timeline_header form select {
  width: 150px;
  padding: 5px 10px;
  background-color: #141414;
  color: white;
  border: 1px solid rgba(39, 36, 36, 0.773);
  font-family: var(--font-Medium);
  outline: none;
}
/* .time_period {
  display: flex;
  gap: 40px;
} */
/* .time_period {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 100px;
} */
.time_period {
  display: flex;
  justify-content: space-between;
}
.time_period > div {
  cursor: pointer;
}
.vertical_line_graph {
  border: 1px solid rgba(39, 36, 36, 0.773);
  height: 200px;
}
.horizontal_line_graph {
  border: 1px solid rgba(39, 36, 36, 0.773);
  width: 560px;
}
.total_days {
  display: flex;
  justify-content: space-between;
}
.graph {
  display: flex;
  color: rgb(115, 105, 105);
}
.total_weeks {
  display: flex;
  gap: 8px;
}
.week_days {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.timeline_graph_main {
  background-color: #141414;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-family: var(--font-Medium);
}
.days {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

@media (max-width: 480px) {
  .timeline_graph_main {
    width: 100%;
  }
  .graph > .days > .horizontal_line_graph {
    width: 100%;
  }
  .graph > .days > .total_days {
    gap: 10px;
  }
  .graph > .days img {
    width: 100%;
  }
  .graph > .total_weeks > .vertical_line_graph {
    height: 110px;
  }
  .week_days,
  .time_period,
  .timeline_header {
    gap: 5px;
  }
  .time_period {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
  }
}
